<!DOCTYPE html>
<html>
<head>
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Add any additional head elements here -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>&copy; 2023 Tech Blog</p>
    </footer>

    <script src="/js/script.js"></script>
    <!-- Additional scripts can be added here -->
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    <!-- Include more scripts as needed -->
</body>
</html>
